<h3>Istorijat računa</h3>
<table class="table table-bordered form-group">
	<thead>
		<tr>
			<th colspan="5">{{buyerCategory.name}}</th>
		</tr>
		<tr>
			<th>DATUM I VREME</th>
			<th>STANJE</th>
			<th>ORIGINALNA UKUPNA CENA</th>
			<th>UKUPNA CENA</th>
			<th>POPUST NA RAČUN</th>
			<th>POTROŠENO POENA</th>
			<th>DOBIJENO POENA</th>
			<th>STAVKE</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="bill in paymentHistory">
			<td>{{bill.date | date:'dd.MM.yyyy. HH:mm:ss'}}</td>
			<td data-ng-show="bill.state == 'ORDERED'">PORUČENO</td>
			<td data-ng-show="bill.state == 'CANCELED'">OTKAZANO</td>
			<td data-ng-show="bill.state == 'SUCCESSFULLY_REALIZED'">USPEŠNO
				REALIZOVANO</td>
			<td>{{bill.originalTotalPrice | number:2}}</td>
			<td>{{bill.totalPrice | number:2}}</td>
			<td>{{bill.discountPercentage}}%</td>
			<td data-ng-bind="bill.spentPoints" />
			<td data-ng-bind="bill.receivedPoints" />
			<td><span
				data-ng-repeat="item in bill.items | orderBy: 'item.itemNumber'">
					{{item.article.name}} {{item.unitPrice | number:2}} x{{item.units}}
					{{item.discountPercentage}}% {{item.totalPrice | number:2}} <br />
			</span></td>
		</tr>
	</tbody>
</table>