<h3>Istorijat računa</h3>
<table class="table table-bordered form-group">
	<thead>
		<tr>
			<th colspan="5">{{buyerCategory.name}}</th>
		</tr>
		<tr>
			<th>DATUM I VREME</th>
			<th>STANJE</th>
			<th>ORIGINALNA UKUPNA CENA</th>
			<th>UKUPNA CENA</th>
			<th>POPUST NA RAČUN</th>
			<th>POTROŠENO POENA</th>
			<th>DOBIJENO POENA</th>
			<th>STAVKE</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="bill in paymentHistory">
			<td data-ng-bind="bill.date" />
			<td data-ng-bind="bill.state" />
			<td data-ng-bind="bill.originalTotalPrice" />
			<td data-ng-bind="bill.totalPrice" />
			<td data-ng-bind="bill.discountPercentage" />
			<td data-ng-bind="bill.spentPoints" />
			<td data-ng-bind="bill.receivedPoints" />
			<td>
				<table>
					<tr>
						<th>NAZIV</th>
						<th>KOLIČINA</th>
						<th>JEDINIČNA CENA</th>
						<th>ORIGINALNA UKUPNA CENA</th>
						<th>UKUPNA CENA</th>
						<th>POPUST</th>
					</tr>
					<tr data-ng-repeat="item in bill.items | orderBy: 'item.itemNumber'">
						<td data-ng-bind="item.article.name"/>
						<td data-ng-bind="item.units"/>
						<td data-ng-bind="item.unitPrice"/>
						<td data-ng-bind="item.originalTotalPrice"/>
						<td data-ng-bind="item.totalPrice"/>
						<td data-ng-bind="item.discountPercentage"/>
					</tr>
				</table>
			</td>
		</tr>
	</tbody>
</table>