<h3>Kategorije artikala</h3>
<table class="table table-bordered form-group">
	<thead>
		<tr>
			<th>ŠIFRA</th>
			<th>NAZIV</th>
			<th>MAKSIMALAN DOZVOLJENI POPUST (%)</th>
			<th>ROBA ŠIROKE POTROŠNJE NA VELIKO</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="articleCategory in articleCategories">
			<td>{{articleCategory.code}}</td>
			<td><input class="form-control" type="text"
				data-ng-model="articleCategory.name"></td>
			<td><input class="form-control" type="number" min="0"
				step="0.01" max="100" data-ng-model="articleCategory.maxDiscount"></td>
			<td><input class="form-control" type="checkbox"
				data-ng-model="articleCategory.consumerArticle"></td>
			<td><button class="btn btn-primary" data-ng-click="change(articleCategory)">Izmeni</button></td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered form-group">
	<thead>
		<tr>
			<th colspan="2">NOVA KATEGORIJA ARTIKLA</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>ŠIFRA</th>
			<td><input class="form-control" type="text"
				data-ng-model="newArticleCategory.code"></td>
		</tr>
		<tr>
			<th>NAZIV</th>
			<td><input class="form-control" type="text"
				data-ng-model="newArticleCategory.name"></td>
		</tr>
		<tr>
			<th>MAKSIMALAN DOZVOLJENI POPUST (%)</th>
			<td><input class="form-control" type="number" min="0"
				step="0.01" max="100" data-ng-model="newArticleCategory.maxDiscount"></td>
		</tr>
		<tr>
			<th>ROBA ŠIROKE POTROŠNJE NA VELIKO</th>
			<td><input class="form-control" type="checkbox"
				data-ng-model="newArticleCategory.consumerArticle"></td>
		</tr>
		<tr>
			<td>
				<button class="btn btn-primary" data-ng-click="create()">Kreiraj</button>
			</td>
		</tr>
	</tbody>
</table>