<h3>Kategorije kupaca</h3>
<table class="table table-bordered form-group"
	data-ng-repeat="buyerCategory in buyerCategories">
	<thead>
		<tr>
			<th colspan="5">{{buyerCategory.name}}</th>
		</tr>
		<tr>
			<th>MIN PLAĆENO</th>
			<th>MAX PLAĆENO</th>
			<th>PROCENAT OD PLAĆENOG (%)</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="bonus in buyerCategory.paymentPointsBonuses">
			<td><input class="form-control" type="number" min="0"
				step="0.01" data-ng-model="bonus.min"></td>
			<td><input class="form-control" type="number" min="0"
				step="0.01" data-ng-model="bonus.max"></td>
			<td><input class="form-control" type="number" min="0"
				step="0.01" max="100" data-ng-model="bonus.percent"></td>
			<td><button class="btn btn-primary"
					data-ng-click="remove(buyerCategory, bonus)">Briši</button></td>
		</tr>
		<tr>
			<td><button class="btn btn-primary"
					data-ng-click="add(buyerCategory)">Dodaj</button></td>
		</tr>
		<tr>
			<td>
				<button class="btn btn-primary"
					data-ng-click="sendNewBonuses(buyerCategory)">Potvrdi
					izmene</button>
			</td>
		</tr>
	</tbody>
</table>